

  
.sentences{
  color: beige;
  margin-bottom: 2em; 
  margin-top: -.25em;
}


.exfot{
   background-color:rgb(77, 111, 124);

}

.site-title{
    color: rgb(88, 50, 45);
    font-size: 10em;
    margin-top: -.5em;
    margin-bottom: -.5em;
    image-orientation: 10em;
    border-image: 10em;
    position: relative;
    text-align: center;
}
.bottom-left{
  color: rgb(31, 5, 5);

  position: absolute;
  bottom: 410px;
  left: 500px;
}
.bottom-right{
  color: rgb(102, 14, 14);
  position: absolute;
  bottom: 430px;
  left: 620px;
}

.centerer2{
  color: rgb(102, 14, 14);
  position: absolute;
  bottom: 410px;
  left: 879px;
}

.year1{
  color: rgb(40, 14, 102);

  position: absolute;
  bottom: 680px;
  left: 769px;
}

.name1{
  color: rgb(102, 14, 14);
  position: absolute;
  bottom: 610px;
  left: 1112px;
}